i.fu
  display: inline-block
  width: 16px
  height: 16px
  background-size: contain
  &.fu-lg
    width: 20px
    height: 20px
  &.fu-toggler
    background: url('../assets/img/icons/toggler.svg') center center no-repeat
  &.fu-arrow
    background: url('../assets/img/icons/arrow.svg') center center no-repeat
  &.fu-academics
    background: url('../assets/img/icons/navigation/default/academics.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/academics-active.svg') center center no-repeat
      background-size: contain
  &.fu-access-security
    background: url('../assets/img/icons/navigation/default/access-security.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/access-security-active.svg') center center no-repeat
      background-size: contain
  &.fu-alumni
    background: url('../assets/img/icons/navigation/default/alumni.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/alumni-active.svg') center center no-repeat
      background-size: contain
  &.fu-applicants
    background: url('../assets/img/icons/navigation/default/applicants.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/applicants-active.svg') center center no-repeat
      background-size: contain
  &.fu-assignment
    background: url('../assets/img/icons/navigation/default/assignment.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/assignment-active.svg') center center no-repeat
      background-size: contain
  &.fu-attendance
    background: url('../assets/img/icons/navigation/default/attendance.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/attendance-active.svg') center center no-repeat
      background-size: contain
  &.fu-calendar
    background: url('../assets/img/icons/navigation/default/calendar.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/calendar-active.svg') center center no-repeat
      background-size: contain
  &.fu-checklist
    background: url('../assets/img/icons/navigation/default/checklist.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/checklist-active.svg') center center no-repeat
      background-size: contain
  &.fu-conversion
    background: url('../assets/img/icons/navigation/default/conversion.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/conversion-active.svg') center center no-repeat
      background-size: contain
  &.fu-curriculum
    background: url('../assets/img/icons/navigation/default/curriculum.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/curriculum-active.svg') center center no-repeat
      background-size: contain
  &.fu-custom
    background: url('../assets/img/icons/navigation/default/custom.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/custom-active.svg') center center no-repeat
      background-size: contain
  &.fu-dashboard
    background: url('../assets/img/icons/navigation/default/dashboard.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/dashboard-active.svg') center center no-repeat
      background-size: contain
  &.fu-enrollment
    background: url('../assets/img/icons/navigation/default/enrollment.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/enrollment-active.svg') center center no-repeat
      background-size: contain
  &.fu-groups
    background: url('../assets/img/icons/navigation/default/groups.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/groups-active.svg') center center no-repeat
      background-size: contain
  &.fu-import-export
    background: url('../assets/img/icons/navigation/default/import-export.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/import-export-active.svg') center center no-repeat
      background-size: contain
  &.fu-inquiry
    background: url('../assets/img/icons/navigation/default/inquiry.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/inquiry-active.svg') center center no-repeat
      background-size: contain
  &.fu-integration
    background: url('../assets/img/icons/navigation/default/integration.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/integration-active.svg') center center no-repeat
      background-size: contain
  &.fu-nationality
    background: url('../assets/img/icons/navigation/default/nationality.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/nationality-active.svg') center center no-repeat
      background-size: contain
  &.fu-parents
    background: url('../assets/img/icons/navigation/default/parents.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/parents-active.svg') center center no-repeat
      background-size: contain
  &.fu-payments
    background: url('../assets/img/icons/navigation/default/payments.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/payments-active.svg') center center no-repeat
      background-size: contain
  &.fu-reports
    background: url('../assets/img/icons/navigation/default/reports.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/reports-active.svg') center center no-repeat
      background-size: contain
  &.fu-school-settings
    background: url('../assets/img/icons/navigation/default/school-settings.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/school-settings-active.svg') center center no-repeat
      background-size: contain
  &.fu-students
    background: url('../assets/img/icons/navigation/default/students.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/students-active.svg') center center no-repeat
      background-size: contain
  &.fu-terms-years
    background: url('../assets/img/icons/navigation/default/terms-years.svg') center center no-repeat
    background-size: contain
    &.active
    background-size: contain
      background: url('../active/img/icons/navigation/default/terms-years-active.svg') center center no-repeat
