i.fu
  display: inline-block
  width: 16px
  height: 16px
  background-size: contain
  &.fu-lg
    width: 20px
    height: 20px
  &.fu-toggler
    background: url('../assets/img/icons/toggler.svg') center center no-repeat
  &.fu-arrow
    background: url('../assets/img/icons/arrow.svg') center center no-repeat

  // navigation icons
  &.fu-academics
    background: url('../assets/img/icons/navigation/default/academics.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/academics-active.svg') center center no-repeat
      background-size: contain
  &.fu-access-security
    background: url('../assets/img/icons/navigation/default/access-security.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/access-security-active.svg') center center no-repeat
      background-size: contain
  &.fu-alumni
    background: url('../assets/img/icons/navigation/default/alumni.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/alumni-active.svg') center center no-repeat
      background-size: contain
  &.fu-applicants
    background: url('../assets/img/icons/navigation/default/applicants.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/applicants-active.svg') center center no-repeat
      background-size: contain
  &.fu-assignment
    background: url('../assets/img/icons/navigation/default/assignment.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/assignment-active.svg') center center no-repeat
      background-size: contain
  &.fu-attendance
    background: url('../assets/img/icons/navigation/default/attendance.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/attendance-active.svg') center center no-repeat
      background-size: contain
  &.fu-calendar
    background: url('../assets/img/icons/navigation/default/calendar.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/calendar-active.svg') center center no-repeat
      background-size: contain
  &.fu-checklist
    background: url('../assets/img/icons/navigation/default/checklist.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/checklist-active.svg') center center no-repeat
      background-size: contain
  &.fu-conversion
    background: url('../assets/img/icons/navigation/default/conversion.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/conversion-active.svg') center center no-repeat
      background-size: contain
  &.fu-curriculum
    background: url('../assets/img/icons/navigation/default/curriculum.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/curriculum-active.svg') center center no-repeat
      background-size: contain
  &.fu-custom
    background: url('../assets/img/icons/navigation/default/custom.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/custom-active.svg') center center no-repeat
      background-size: contain
  &.fu-dashboard
    background: url('../assets/img/icons/navigation/default/dashboard.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/dashboard-active.svg') center center no-repeat
      background-size: contain
  &.fu-enrollment
    background: url('../assets/img/icons/navigation/default/enrollment.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/enrollment-active.svg') center center no-repeat
      background-size: contain
  &.fu-groups
    background: url('../assets/img/icons/navigation/default/groups.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/groups-active.svg') center center no-repeat
      background-size: contain
  &.fu-import-export
    background: url('../assets/img/icons/navigation/default/import-export.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/import-export-active.svg') center center no-repeat
      background-size: contain
  &.fu-inquiry
    background: url('../assets/img/icons/navigation/default/inquiry.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/inquiry-active.svg') center center no-repeat
      background-size: contain
  &.fu-integration
    background: url('../assets/img/icons/navigation/default/integration.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/integration-active.svg') center center no-repeat
      background-size: contain
  &.fu-nationality
    background: url('../assets/img/icons/navigation/default/nationality.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/nationality-active.svg') center center no-repeat
      background-size: contain
  &.fu-parents
    background: url('../assets/img/icons/navigation/default/parents.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/parents-active.svg') center center no-repeat
      background-size: contain
  &.fu-payments
    background: url('../assets/img/icons/navigation/default/payments.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/payments-active.svg') center center no-repeat
      background-size: contain
  &.fu-reports
    background: url('../assets/img/icons/navigation/default/reports.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/reports-active.svg') center center no-repeat
      background-size: contain
  &.fu-school-settings
    background: url('../assets/img/icons/navigation/default/school-settings.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/school-settings-active.svg') center center no-repeat
      background-size: contain
  &.fu-students
    background: url('../assets/img/icons/navigation/default/students.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/students-active.svg') center center no-repeat
      background-size: contain
  &.fu-terms-years
    background: url('../assets/img/icons/navigation/default/terms-years.svg') center center no-repeat
    background-size: contain
    &.active
      background: url('../assets/img/icons/navigation/active/terms-years-active.svg') center center no-repeat
      background-size: contain

  // settings
  &.fu-academic-programmes-light
    background: url('../assets/img/icons/navigation/light/academic-programmes-light.svg') center center no-repeat
    background-size: contain
  &.fu-academic-terms-light
    background: url('../assets/img/icons/navigation/light/academic-terms-light.svg') center center no-repeat
    background-size: contain
  &.fu-access-light
    background: url('../assets/img/icons/navigation/light/access-light.svg') center center no-repeat
    background-size: contain
  &.fu-attendance-light
    background: url('../assets/img/icons/navigation/light/attendance-light.svg') center center no-repeat
    background-size: contain
  &.fu-billing-light
    background: url('../assets/img/icons/navigation/light/billing-light.svg') center center no-repeat
    background-size: contain
  &.fu-import-export-light
    background: url('../assets/img/icons/navigation/light/import-export-light.svg') center center no-repeat
    background-size: contain
  &.fu-school-directory-light
    background: url('../assets/img/icons/navigation/light/school-directory-light.svg') center center no-repeat
    background-size: contain
  &.fu-school-settings-light
    background: url('../assets/img/icons/navigation/light/school-settings-light.svg') center center no-repeat
    background-size: contain

  // grade icons
  @for $i from 1 through 12
    &.fu-grade-#{$i}
      background: url('../assets/img/icons/grade/grade-#{$i}.svg') center center no-repeat
      background-size: contain

  // status icons
  &.fu-graduated
    background: url('../assets/img/icons/status/graduated.svg') center center no-repeat
    background-size: contain
  &.fu-declined
    background: url('../assets/img/icons/status/declined.svg') center center no-repeat
    background-size: contain
  &.fu-admitted
    background: url('../assets/img/icons/status/admitted.svg') center center no-repeat
    background-size: contain
  &.fu-pending
    background: url('../assets/img/icons/status/pending.svg') center center no-repeat
    background-size: contain
  &.fu-enrolled
    background: url('../assets/img/icons/status/enrolled.svg') center center no-repeat
    background-size: contain
  &.fu-applied
    background: url('../assets/img/icons/status/applied.svg') center center no-repeat
    background-size: contain
  &.fu-withdrawn
    background: url('../assets/img/icons/status/withdrawn.svg') center center no-repeat
    background-size: contain
  &.fu-wait-listed
    background: url('../assets/img/icons/status/wait-listed.svg') center center no-repeat
    background-size: contain

  // activity icons
  &.fu-bookmark
    background: url('../assets/img/icons/activity/bookmark.svg') center center no-repeat
    background-size: contain
  &.fu-calendar-o
    background: url('../assets/img/icons/activity/calendar.svg') center center no-repeat
    background-size: contain
  &.fu-cancel
    background: url('../assets/img/icons/activity/cancel.svg') center center no-repeat
    background-size: contain
  &.fu-doc
    background: url('../assets/img/icons/activity/doc.svg') center center no-repeat
    background-size: contain
  &.fu-group
    background: url('../assets/img/icons/activity/group.svg') center center no-repeat
    background-size: contain
  &.fu-interview
    background: url('../assets/img/icons/activity/interview.svg') center center no-repeat
    background-size: contain
  &.fu-marked
    background: url('../assets/img/icons/activity/marked.svg') center center no-repeat
    background-size: contain
  &.fu-message
    background: url('../assets/img/icons/activity/message.svg') center center no-repeat
    background-size: contain
  &.fu-newspaper
    background: url('../assets/img/icons/activity/newspaper.svg') center center no-repeat
    background-size: contain
  &.fu-note
    background: url('../assets/img/icons/activity/note.svg') center center no-repeat
    background-size: contain
  &.fu-payment
    background: url('../assets/img/icons/activity/payment.svg') center center no-repeat
    background-size: contain
  &.fu-pdf
    background: url('../assets/img/icons/activity/pdf.svg') center center no-repeat
    background-size: contain
  &.fu-person
    background: url('../assets/img/icons/activity/person.svg') center center no-repeat
    background-size: contain
  &.fu-questionnaire
    background: url('../assets/img/icons/activity/questionnaire.svg') center center no-repeat
    background-size: contain
  &.fu-task
    background: url('../assets/img/icons/activity/task.svg') center center no-repeat
    background-size: contain
  &.fu-tour
    background: url('../assets/img/icons/activity/tour.svg') center center no-repeat
    background-size: contain

  // others
  &.fu-account-active
    background: url('../assets/img/icons/others/account-active.svg') center center no-repeat
    background-size: contain
  &.fu-account
    background: url('../assets/img/icons/others/account.svg') center center no-repeat
    background-size: contain
  &.fu-arrow-active
    background: url('../assets/img/icons/others/arrow-active.svg') center center no-repeat
    background-size: contain
  &.fu-arrow-left
    background: url('../assets/img/icons/others/arrow-left.svg') center center no-repeat
    background-size: contain
  &.fu-arrow-right
    background: url('../assets/img/icons/others/arrow-right.svg') center center no-repeat
    background-size: contain
  &.fu-arrow-top-active
    background: url('../assets/img/icons/others/arrow-top-active.svg') center center no-repeat
    background-size: contain
  &.fu-arrow-top
    background: url('../assets/img/icons/others/arrow-top.svg') center center no-repeat
    background-size: contain
  &.fu-arrow
    background: url('../assets/img/icons/others/arrow.svg') center center no-repeat
    background-size: contain
  &.fu-billing-active
    background: url('../assets/img/icons/others/billing-active.svg') center center no-repeat
    background-size: contain
  &.fu-billing
    background: url('../assets/img/icons/others/billing.svg') center center no-repeat
    background-size: contain
  &.fu-edit
    background: url('../assets/img/icons/others/edit.svg') center center no-repeat
    background-size: contain
  &.fu-ellipse
    background: url('../assets/img/icons/others/ellipse.svg') center center no-repeat
    background-size: contain
  &.fu-logout
    background: url('../assets/img/icons/others/logout.svg') center center no-repeat
    background-size: contain
  &.fu-message-active
    background: url('../assets/img/icons/others/message-active.svg') center center no-repeat
    background-size: contain
  &.fu-message
    background: url('../assets/img/icons/others/message.svg') center center no-repeat
    background-size: contain
  &.fu-print
    background: url('../assets/img/icons/others/print.svg') center center no-repeat
    background-size: contain
  &.fu-toggler
    background: url('../assets/img/icons/others/toggler.svg') center center no-repeat
    background-size: contain
  &.fu-user-active
    background: url('../assets/img/icons/others/user-active.svg') center center no-repeat
    background-size: contain
  &.fu-user
    background: url('../assets/img/icons/others/user.svg') center center no-repeat
    background-size: contain
  &.fu-users-active
    background: url('../assets/img/icons/others/users-active.svg') center center no-repeat
    background-size: contain
  &.fu-users
    background: url('../assets/img/icons/others/users.svg') center center no-repeat
    background-size: contain
