.select2-container.select2-navigation .select2-choice > .select2-arrow b
  width: 16px
  height: 16px
  background: url('../assets/img/icons/toggler.svg') center center no-repeat!important
  background-size: contain!important
  &:before
    display: none

.panel-group .panel .panel-heading .panel-title a
  .collapse-icon
    width: 10px
    height: 20px
    background: url('../assets/img/icons/arrow.svg') center center no-repeat!important
    background-size: contain!important
    &:before
      display: none
  &.collapsed
    .collapse-icon
      transform: rotate(90deg)
